* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: background-color 0.5s ease-in-out;
    -moz-transition: background-color 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
}



body{
    background-color: rgb(0, 0, 0);
    width: 100vw;
    height: 70vh;
    top: 0;
    padding-top: 0px;
    padding-bottom: 50px;
    overflow-x: hidden;
}



.AboutPage_background{
    background-image: url("../img/rwb.gif");
    background-size: no-repeat;
    background-position: center;
    background-size: cover;
    height: 50vh;
    width: 100vw;
    position: static;
    opacity: 0.5;
    margin-left: 0%;
    background-attachment: fixed;
}

.MainPage{
    background-image: url("../img/youtube-video-gif.gif");
    background-size: no-repeat;
    background-position: center;
    background-size: cover;
    height: 85vh;
    width: 100vw;
    position: static;
    opacity: 0.5;
}
aside{
    float: left;
    background: rgb(255, 255, 255);
    width: 22%;
    padding: 50px 50px;
    height: 100vh;
    position: fixed;
    position: fixed;
    z-index: 999999;
    top: 0;
    left: -21%;
    transition: all 0.5s;  
    border-right: 7px solid;
}
aside:hover{left: 0;
    transition: all 0.5s ease;}

aside h3{
    margin-top: 50px;
    font-size: 36px;
}

aside ul{
    list-style: none;
}

aside a {
    color: white;
}
aside ul li {
    color: black;
    display: block;
    margin-top: 20px;
    font-size: 25px;
    transition: transform .6s ease ;
}

aside ul li:hover, aside ul a:hover {
    color: rgb(255, 99, 42);
    text-decoration: none;
    transform: scale(1.05);
}

main .features{
    width: 100%;

}

main .features h1 {font-size: 46px;font-style:italic;  margin-top: 50px; text-align: center;color: rgb(255, 255, 255); margin: 30px auto; max-width: 90%;}
main .features p {font-style:italic; max-width: 90%; padding-top: 10px;color: rgb(255, 255, 255);font-size: 32px; margin: 30px auto; text-align: center;}
main .features ul {color: rgb(255, 255, 255); font-size: 32px;font-style:italic;padding-top:20px; margin: 30px 5%; }
main .features h3 {font-style:italic; max-width: 90%; padding-top: 10px;color: rgb(255, 255, 255);font-size: 32px; margin: 30px auto;}

#carouselExampleCaptions{ width: 80vw; height: auto;  padding-bottom: 10vh; margin: 0px auto; }
#carouselExampleCaptions .carousel-inner h5{  width: 1000px;margin-top: 0px;background: rgba(0, 0, 0, 0.772); padding-top: 0px;font-size: 32px; margin: 0px auto;}
#carouselExampleCaptions .carousel-inner p{  width: 1000px;background: rgba(0, 0, 0, 0.772);text-align: left;padding-top: 0px;font-size: 32px; margin: 10px auto;}

#ArticleImage{width: 100%;  padding-bottom: 5vh;}
#ArticleImage img{opacity: 0.5;}
#ArticleImage .carousel-inner h5{ width: 1000px;margin-bottom: 300px; padding-top: 0px;font-size: 82px; margin: 40% auto; text-align: center;}

main .Article .text {font-style:italic; max-width: 80vw; padding-top: 5px;color: rgb(255, 255, 255);font-size: 24px;margin-left: 10%;}

main .Article .text h4{font-style:italic; max-width: 80vw; padding-top: 5px; padding-bottom:30px; color: rgb(255, 255, 255);font-size: 26px; margin-left: 10%;}


.row.row-cols-2.g-3{padding-top: 50px; width: 1300px; margin: 10px auto;}
.col{padding-left: 50px;}



#HomeImage{width: 100%;text-align: center;}
#HomeImage img{opacity: 0.3;}
#HomeImage .carousel-inner h3{  width: 80vw; margin: 20px -6% 30vh; padding-top: 0px;font-size: 32px;}
#HomeImage .carousel-inner h1{  width: 80vw; font-size: 52px; margin: 0px -6%;}


@font-face {
    font-family: 'draco';
    src: url('../fonts/draco.regular.otf') format("truetype");
}

.MAGAZINE_logo{padding-left: 80px; padding-top: 30px; text-align: left; font-style:italic; font-family: 'draco'; color: white;  font-size: 32px; padding-bottom: 80px; height: 100px; background-image: url('../img/1639049490_5-abrakadabra-fun-p-krutoi-temnii-fon-5.jpg'); margin-bottom: 20px;}

.registration{width: 1000px; height: 400px; margin-top: 10px; margin-left: 20%; margin: 30px auto;}
.button_zapis { font-style:italic; margin-top:50px;font-size: 28px; border-radius: 12px;background-color: #ff1100; color: white; width: 700px; height:100px ; margin-left: 15%;} /* Red */
.registration label{color: white; font-size: 15px;}

.comments{margin-left: 5%; width: 90%;}